@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}

.bg {
  background-image: url("the-odyssey-7680x4320-25035.jpg");
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  font-weight: 1000;
  color: #dadada;
}